.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav {
  background: white;
}

.nav-inner {
  width: 87%;
  margin: 0 auto;
  padding: 10px 0;
}

.wrapper {
  background-color: #F5F5F5;
  min-height: 100vh;
}

.container {
  height: 100%;
  width: 87%;
  margin: 0 auto;
  display: flex;
  padding-top: 40px;
  max-width: 1300px;
  padding-bottom: 20px;
}

.search, .car-list {
  height: 100%;
}

.search {
  align-self: stretch;
  flex-basis: 26%;
  margin-top: 35px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

input, select {
  /*width: 100%;*/
  margin-bottom: 20px;
  -webkit-appearance: none;
  padding: 10px;
  box-shadow: none;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 0;
  cursor: pointer;
}

label {
  margin-bottom: 5px;
}

.car-list {
  /*background-color: green;*/
  flex-grow: 1;
  margin-left: 20px;
}

h1 {
  margin-top: 0;
}

h1 span {
  text-transform: capitalize;
}

.single-car {
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid lightgrey;
}

.single-car h2 {
  text-transform: capitalize;
  margin: 0;
  font-size: 20px;
}

.located {
  margin-top: 5px;
}

.car-image-wrapper {
  flex-basis: 35%;
}

.car-image {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.car-description {
  flex-grow: 1;
  padding: 15px;
}

.car-description > div {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

p, li {
  font-size: 14px;
}

.car-specs li {
  text-transform: capitalize;
  font-weight: bold;
}

.car-specs {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 15px 0;
  margin: 0;
}

.car-specs, .car-features {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
